<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <title>My Form</title>
</head>
<body>
    <h1>Here's a form for us!</h1>
    <form action="process" method="post">
        <label for="id">Id</label>
        <input type="number" name="id" >
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <button class="btn btn-primary">Submit</button>
    </form>
</body>
</html>